.git
.github
.ddev
node_modules
vendor
public/build
public/storage
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
tests
docs
.env
.env.*
!.env.example
*.md
Dockerfile
.dockerignore
